body {
	
	width: 500px;
	margin: auto ;
	text-align: center;
}
li {
	
	list-style:none;
}
 
 li.fields {
	
	margin: 0;
	padding: 1cm 0;
	font-weight: bold;
}
li.Title {
	
	cursor:pointer;
	font-weight: bold;
	font-size: 1.5cm;
	line-height:2cm;
	background: #e3e3e3;
	border-bottom: 1px solid #c5c5c5;
	border-top: top: 1px solid white;
	color:red;
}
.hide {
	 display: none;
}
